/* Style file of Introduction project */
    /* Color variables */
    :root {
        --outrageous-orange: #fe6847ff;
        --bright-yellow-crayola: #fbb13cff;
        --dark-sea-green: #83b692ff;
        --raisin-black: #252627ff;
        --wisteria: #c490d1ff;

        color: var(--raisin-black);

    }

    /* Making the background fullscreen*/
    * {
        margin: 0;    
        padding: 0;
    }

    /* Making smooth scroll*/
    html {
        scroll-behavior: smooth;        
    }

    /* On Page Load Effect */
    .load-effect {
        animation-name: zoom-in;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }

    @keyframes zoom-in{
        0% {
            transform: scale(0);
        }

        60% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }
    /*SECTION-----------------------------------------------------------------------------*/
    .section {
        height: 100vh;
        box-sizing: border-box;
        padding: 3vh 3vw 3vh 3vw;

        font-family: 'Press Start 2P', cursive;
        text-align: center;
        word-wrap: break-word;
    }

    /*GREETING----------------------------------------------------------------------------*/
    #greeting {
        background-color: var(--outrageous-orange);
    }

    .greeting-box {
        position: relative;
        top: 30vh;

        border-color: var(--raisin-black);
        border-width: 0.4em;
        border-style: solid;

        margin: 0vh 20vw 0vh 20vw;
        padding: 1em;
    }

    /*NAVIGATION MENU---------------------------------------------------------------------*/
    #navigation {
        position: fixed;
        top: 60vh;
        left: 0;
        right: 0;

        font-size: 1.5vmax;
        transition: 0.4s;

        animation-name: fade-in;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }

    @keyframes fade-in{
        0% {
            top: 110vh;
        }

        60% {
            top: 55vh;
        }

        100% {
            top: 60vh;
        }
    }

    .navigation-item {
        display: inline-block; 

        background-color: var(--raisin-black);
        color: var(--outrageous-orange);

        border-style: solid;
        border-width: 0.2em;
        box-sizing: border-box;
        margin: 1vw;
        width: 9em;
        padding: 0.4em;
    }

    /* Hover effect */
    .navigation-item:hover {
        box-shadow: 0.3em 0.4em 0em 0em black;
        animation-name: reverse-color;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    @keyframes reverse-color {
        100% {
            color: var(--raisin-black);
            background-color: transparent;
        }
    }

    /*ABOUT SECTION-----------------------------------------------------------------------*/
    #about {
        background-color: var(--bright-yellow-crayola);
    }

    .about-title {
        font-size: 2vmax; 
    }

    /*WORKS SECTION-----------------------------------------------------------------------*/
    #works {
        background-color: var(--dark-sea-green);
    }

    .works-title {
        font-size: 2vmax; 
    }

    /*CONTACT SECTION---------------------------------------------------------------------*/
    #contact {
        background-color: var(--wisteria);
    }

    .contact-title {
        font-size: 2vmax; 
    }
    
    .contact-list {
        position: relative;
        top: 40%;
    }

    .contact-item {
        display: inline-block;

        width: 8em;
        margin: 0vh 5vw 0vh 5vw;
    }
    
    /*SPECIFIC DECLARATION----------------------------------------------------------------*/
    /* Links without underlined purpled*/
    a {
        text-decoration: none;
        color: inherit;
    }

    li {
        transition: all 0.3s;
    }

    li:hover {
        transform: scale(1.2);
        transition: all 0.3s;
        /* Strange line appear when zoom in. Use this to remove?*/
        backface-visibility: hidden;
    }

 
